/Proyectos Practicas Elementos/PuntoVenta/PuntoVentaDominio/nbproject/private/
/Proyectos Practicas Elementos/PuntoVenta/PuntoVentaPersistencia/nbproject/private/
/Proyectos Practicas Elementos/PuntoVenta/PuntoVentaPresentación/nbproject/private/
/Proyectos Practicas Elementos/ejemploMVC/nbproject/private/
/Proyectos Practicas Elementos/mvcObserver/nbproject/private/
/Proyectos Practicas Elementos/CalendarioCitasConsola/nbproject/private/
